.input-wrapper {
  position: relative;
  width: 100%;
  margin: 25px 0;
}
.input-wrapper input {
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 100%;
}
.input-wrapper.month input {
  padding-right: 40px;
}
.input-wrapper.month input:after {
  position: absolute;
  right: 10px;
  top: 6px;
  content: '/mo';
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
}

button {
  width: 100%;
  border: none;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
}
button.border {
  border: 2px #efefef solid;
  background-color: white;
}
button.border:hover, button.border.selected {
  background-color: #efefef;
}

button, input, select {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 10px;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}